<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Admin panel</title>
    <link rel="icon" type="image/png" href="/images/logo-title.png"/>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
          integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
            crossorigin="anonymous"></script>

    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.4/js/dataTables.bootstrap5.min.js"></script>

    <link href="https://cdn.datatables.net/1.13.4/css/dataTables.bootstrap5.min.css" rel="stylesheet"/>
    <link href="https://cdn.bootcss.com/flag-icon-css/2.8.0/css/flag-icon.css" rel="stylesheet"/>
</head>
<body>

<header class="p-3 mb-3 border-bottom bg-primary">
    <div class="container text-white">
        <div class="d-flex flex-wrap align-items-center justify-content-between">
            <a th:href="@{/api/home}" class="mb-2 mb-lg-0 text-dark text-decoration-none">
                <img th:src="@{/images/logo-main.png}" alt="Space-Y logo" style="height: 4em; width: 10em"/>
            </a>

            <div class="d-flex flex-wrap align-items-center justify-content-between">
                <div class="d-flex flex-row-reverse gradient-custom-3">
                    <div class="dropdown text-end">
                        <a href="/" class="d-block link-light text-decoration-none text-light dropdown-toggle"
                           id="language"
                           data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="fa-solid fa-earth-oceania fa-lg"></i>
                        </a>

                        <ul class="dropdown-menu text-small text-dark" aria-labelledby="language"
                            style="background-color: #eee;">
                            <li>
                                <a class="dropdown-item" href="/admin?lang=en">
                                    <i class="flag-icon flag-icon-gb"> </i>
                                    English
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="/admin?lang=uk">
                                    <i class="flag-icon flag-icon-ua"> </i>
                                    Українська
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="/admin?lang=pl">
                                    <i class="flag-icon flag-icon-pl"> </i>
                                    Polskі
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="dropdown text-end">
                    <a href="/" class="d-block link-light text-decoration-none dropdown-toggle" id="dropdownUser1"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fas fa-user fa-lg"></i>
                    </a>

                    <ul class="dropdown-menu text-small text-dark" aria-labelledby="dropdownUser1" style="">
                        <li><a class="dropdown-item" th:href="@{/api/home}" th:text="#{home.header.dropdown.home}"></a>
                        </li>
                        <li><a class="dropdown-item" href="#" th:text="#{home.header.dropdown.settings}"></a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" th:href="@{/logout}" th:text="#{home.header.dropdown.logout}"></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="container">
    <table id="dtBasicExample" class="table table-striped table-bordered table-sm" style="width:100%">
        <thead>
        <tr>
            <th class="th-sm">Id</th>
            <th class="th-sm" th:text="#{admin.header.username}"></th>
            <th class="th-sm" th:text="#{admin.header.role}"></th>
            <th class="th-sm" th:text="#{admin.header.date-created}"></th>
            <th class="th-sm" th:text="#{admin.header.date-updated}"></th>
            <th class="th-sm"></th>
            <th class="th-sm"></th>
            <th class="th-sm"></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="customer : ${customerList}">
            <td th:text="${customer.customerId}"></td>
            <td th:text="${customer.username}"></td>
            <td th:text="${customer.roleName}"></td>
            <td th:text="${customer.dateCreated}"></td>
            <td th:text="${customer.dateUpdated}"></td>
            <td>
                <form th:method="DELETE" th:action="@{/admin}"
                      th:if="${customer.roleName != 'ROLE_OWNER'} and ${customer.roleName != principalCustomer.roleName}">
                    <input type="hidden" th:value="${customer.customerId}"/>

                    <button type="button" class="btn btn-outline-primary" th:text="#{admin.button.delete}"></button>
                </form>
            </td>
            <td>
                <form th:method="POST" th:action="@{/admin/make-admin}" th:if="${customer.roleName != 'ROLE_OWNER'}">
                    <input type="hidden" name="customerId" th:value="${customer.customerId}"/>

                    <button type="submit" class="btn btn-outline-primary"
                            th:attr="disabled=${customer.roleName == 'ROLE_ADMIN'}"
                            th:text="#{admin.button.make-admin}">
                    </button>
                </form>
            </td>
            <td>
                <form th:method="POST" th:action="@{/admin/remove-admin}" th:if="${customer.roleName != 'ROLE_OWNER'}">
                    <input type="hidden" name="customerId" th:value="${customer.customerId}"/>

                    <button type="submit" class="btn btn-outline-primary"
                            th:attr="disabled=${customer.roleName == 'ROLE_USER'}"
                            th:text="#{admin.button.remove-admin}">
                    </button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<script type="text/javascript" src="/js/load-admin-panel.js"></script>
</body>
</html>