<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Authentication page</title>
    <link rel="icon" type="image/png" href="/images/logo-title.png"/>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
          integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
            crossorigin="anonymous"></script>

    <link href="https://cdn.bootcss.com/flag-icon-css/2.8.0/css/flag-icon.css" rel="stylesheet"/>

    <link rel="stylesheet" th:href="@{/css/auth.css}">
</head>
<body>
<div class="d-flex flex-row-reverse pt-2 pe-4" style="background-color: #eee;">
    <div class="dropdown text-end">
        <a href="/" class="d-block link-dark text-decoration-none dropdown-toggle" id="language"
           data-bs-toggle="dropdown" aria-expanded="false">
            <i class="fa-solid fa-earth-oceania fa-lg"></i>
        </a>

        <ul class="dropdown-menu text-small text-dark" aria-labelledby="language" style="background-color: #eee;">
            <li>
                <a class="dropdown-item" href="/auth/login?lang=en">
                    <i class="flag-icon flag-icon-gb"> </i>
                    English
                </a>
            </li>
            <li>
                <a class="dropdown-item" href="/auth/login?lang=uk">
                    <i class="flag-icon flag-icon-ua"> </i>
                    Українська
                </a>
            </li>
            <li>
                <a class="dropdown-item" href="/auth/login?lang=pl">
                    <i class="flag-icon flag-icon-pl"> </i>
                    Polskі
                </a>
            </li>
        </ul>
    </div>
</div>
<section class="h-100 gradient-form" style="background-color: #eee;">
    <div class="container py-3 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-xl-10">
                <div class="card rounded-3 text-black">
                    <div class="row g-0">
                        <div class="col-lg-6">
                            <div class="card-body p-md-5 mx-md-4">

                                <div class="text-center">
                                    <img th:src="@{/images/logo-title.png}"
                                         style="width: 100px; height: 100px" alt="logo">
                                    <h4 class="mt-1 mb-5 pb-1" th:text="#{login.form.header}"></h4>
                                </div>
                                <form name="f" method="POST" action="/process_login" class="mb-5">
                                    <div class="form-floating mb-3">
                                        <input type="text" name="username" id="username" class="form-control"
                                               th:placeholder="#{form.username}">
                                        <label for="username" th:text="#{form.username}"></label>
                                    </div>
                                    <div class="form-floating mb-3">
                                        <input type="password" name="password" id="password" class="form-control"
                                               th:placeholder="#{form.password}">
                                        <label for="password" th:text="#{form.password}"></label>
                                    </div>
                                    <div class="alert alert-danger" role="alert"
                                         th:if="${param.error}" th:text="#{login.form.error}">
                                    </div>
                                    <div class="text-center pt-1 mb-4 pb-1">
                                        <div class="form-check d-flex mb-4">
                                            <div class="col-md-7 justify-content-end">
                                                <div class="col-md-6">
                                                    <input class="form-check-input" type="checkbox" id="remember"
                                                           name="remember"/>
                                                    <label class="form-check-label" for="remember"
                                                           th:text="#{login.form.remember}"></label>
                                                </div>
                                            </div>
                                            <div class="col-md-4 justify-content-end">
                                                <div class="col-md-2">
                                                    <input class="form-check-input" type="checkbox" id="show-hide"/>
                                                    <label class="form-check-label" for="show-hide"
                                                           th:text="#{edit.check.show}"></label>
                                                </div>
                                            </div>
                                        </div>
                                        <button class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-2"
                                                type="submit" th:text="#{login.form.button.submit}">
                                        </button>
                                    </div>
                                </form>
                                <form th:method="GET" th:action="@{/auth/register}" class="mb-10">
                                    <div class="d-flex align-items-center justify-content-center pb-4">
                                        <p class="mb-0 me-2" th:text="#{login.form.create-account.message}"></p>
                                        <button type="submit" class="btn btn-outline-info"
                                                th:text="#{login.form.button.register}"></button>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="col-lg-6 d-flex align-items-center gradient-custom-2">
                            <div class="text-white px-3 py-4 p-md-5 mx-md-4">
                                <h4 class="mb-4" th:text="#{login.about.header}"></h4>
                                <p class="small mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                                    eiusmod
                                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                                    nostrud
                                    exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script type="text/javascript" src="/js/show-hide-password.js"></script>
</body>
</html>